<body>
   <form action="/survey/{{course}}/{{id}}" method="post">
      <fieldset>

         <fieldset>
            <label for="docent">Docenten:</label>
         {{#each teachers}}
            <input type="radio" id="docent" name="docent" value="{{this.teacherOne}}" required>
            <label for="docent">{{this.teacherOne}}</label>

            <input type="radio" id="docent" name="docent" value="{{this.teacherTwo}}" required>
            <label for="docent">{{this.teacherTwo}}</label>
         {{/each}}
         </fieldset>

         <label for="begin-datum">Begin datum:</label>
         <input type="date" id="datum" name="datum"required>
         
         <label for="eind-datum">Eind datum:</label>
         <input type="date" id="datum" name="datum"required>

         <label for="lesstof">Lesstof:</label>
         <input type="range" id="lesstof" min="1" max="10" name="lesstof" required>

         <label for="">Uitleg:</label>
         <input type="range" id="uitleg" min="1" max="10" name="uitleg" required>

         <label for="eigen-inzicht">Eigen inzicht:</label>
         <input type="range" id="eigen-inzicht" min="1" max="10" name="inzicht" required>
      </fieldset>
      <input type="submit" value="Bevestig">
   </form>
</body>